// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

.l-page {
	width: 960px;
	margin: 0 auto;
	@include background-grid;
	@include breakpoint(0 960px) {
		width: 90%;
	}

}	
header.l-header, div.l-main, footer.l-footer {
	@include grid-span(12,1);
	@include clearfix;
	@include background-grid;
	border: solid #F00 1px;
}
.l-content {
	@include grid-span(6,4);
	@include breakpoint(0 349px) {
		@include grid-span(12,1);
	}
	@include breakpoint(350px 719px) {
		@include grid-span(8,5);
	}
	@include breakpoint(720px 960px) {
		@include grid-span(8,5);
	}
	border: solid #00F 1px;
}
.l-region--sidebar-first {
	@include grid-span(3,1);
	@include breakpoint(0 349px) {
		@include grid-span(12,1);
	}
	@include breakpoint(350px 719px) {
		@include grid-span(4,1);
	}
	@include breakpoint(720px 960px) {
		@include grid-span(4,1);
		@include clearfix;
	}
	border: solid #00F 1px;
}
.l-region--sidebar-second {
	@include grid-span(3,10);
	@include breakpoint(0 349px) {
		@include grid-span(12,1);
		clear: left;
	}
	@include breakpoint(350px 719px) {
		@include grid-span(4,1);
		clear: left;
	}
	@include breakpoint(720px 960px) {
		@include grid-span(4,1);
		clear: left;
	}
	border: solid #00F 1px;
}
.l-region--footer {
	@include clearfix;
}


